<section class="container">
    <div class="card mt-3 p-3">
        <div class="card mb-2">
            <p id="about-me" class="text-center subtitle">Sobre mi</p>
        </div>
        <p>Mi nombre es Jesus Garcia, soy desarrollador frontend y me encuentro buscando mi primer experiencia laboral
            dentro de una empresa.</p>

        <div class="card mb-2">
            <p class="text-center subtitle">Tecnologias</p>
        </div>
        <ul class="d-flex text-center">
            <li>HTML
                <img src="../../assets/images/html.jpg" class="img-fluid" width="128" height="128" alt="html">
            </li>
            <li>Css
                <img src="../../assets/images/css.png" class="img-fluid" width="128" height="128" alt="css">
            </li>
            <li>Bootstrap
                <img src="../../assets/images/bootstrap.png" class="img-fluid" width="128" height="128" alt="bootstrap">
            </li>
            <li>JavaScript
                <img src="../../assets/images/javascript.png" class="img-fluid" width="128" height="128" alt="javascript">
            </li>
            <li>Typescript
                <img src="../../assets/images/typescript.png" class="img-fluid" width="128" height="128" alt="typescript">
            </li>
            <li>Angular
                <img src="../../assets/images/angular.jpg" class="img-fluid" width="128" height="128" alt="angular">
            </li>
        </ul>
    </div>
</section>