<section class="container">
    <div class="card mt-3 p-3">
        <div class="card mb-2">
            <p id="about-me" class="text-center subtitle">Sobre mi</p>
        </div>
        <p>Soy estudiante de la tecnicatura en desarrollo de software, cursando la ultima materia de la carrera,
            en busca de mi experiencia laboral como desarrollador, busco poner en practica mis conocimientos y
            comenzar a desarrollar mi carrera profesional. Mi objetivo principal es enfocarme en el area del frontend
            pero no descarto orientarme al backend en un futuro.</p>
        <p>
            Me encuentro en constante aprendizaje, ya que lo considero fundamental dentro de este rubro.
            Estoy dispuesto a aprender nuevas tecnologias para seguir creciendo como desarrollador.
        </p>

        <div class="card mb-2">
            <p class="text-center subtitle">Tecnologias</p>
        </div>
        <ul class="row text-center">
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/html.png" class="img-fluid" alt="html">
                    <figcaption> HTML </figcaption>
                </figure>
            </li>
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/css.png" class="img-fluid" alt="css">
                    <figcaption> CSS </figcaption>
                </figure>
            </li>
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/bootstrap.png" class="img-fluid" alt="bootstrap">
                    <figcaption> Bootstrap </figcaption>
                </figure>
            </li>
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/javascript.png" class="img-fluid" alt="javascript">
                    <figcaption> JavaScript </figcaption>
                </figure>
            </li>
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/typescript.png" class="img-fluid" alt="typescript">
                    <figcaption> Typescript </figcaption>
                </figure>
            </li>
            <li class="col-4 col-lg-2 col-md-4 col-sm-4 col-xs-4">
                <figure>
                    <img src="../../assets/images/angular.png" class="img-fluid" alt="angular">
                    <figcaption> Angular </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>