<section class="container">
    <div class="card mt-3 p-3">
        <div class="card">
            <p id="proyects" class="text-center subtitle">Mis proyectos</p>
        </div>
        <div class="p-3">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/images/controladorGastos.PNG" alt="proyecto" class="img-fluid">
                    <p class="text-center mt-2">HTML - CSS - TypeScript</p>
                </div>
                <div class="col-6 px-4">
                    <p class="subtitle">Controlador de gastos</p>
                    <p>Aplicacion para gestionar gastos, estos pueden ser agregados o eliminados, y calcula
                        automaticamente balance final. Los datos se guardan mediante LocalStorage</p>
                    <a class="redirect" href="#" target="_blank">
                        <i class="fas fa-link"></i> Ver app </a>
                    <a class="redirect" href="#" target="_blank">
                        <i class="fab fa-github"></i> Ver codigo </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3 p-3">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/appPeliculas.PNG" alt="proyecto" class="img-fluid">
                <p class="text-center mt-2">HTML - CSS - JavaScript</p>
            </div>
            <div class="col-6 px-4">
                <p class="subtitle">Reseña de peliculas</p>
                <p>Aplicacion para añadir reseñas de peliculas. Se ingresa el titulo, reseña y valoracion final. Los
                    datos se guardan mediante LocalStorage</p>
                <a class="redirect" href="#" target="_blank">
                    <i class="fas fa-link"></i> Ver app </a>
                <a class="redirect" href="#" target="_blank">
                    <i class="fab fa-github"></i> Ver codigo </a>
            </div>
        </div>
        <a class="redirect text-center" href="#" target="_blank">
            <i class="fab fa-github"></i> Ver mas... </a>
    </div>
</section>