<section class="container">
    <div class="card mt-3 p-3">
        <div class="card">
            <p id="proyects" class="text-center subtitle">Mis proyectos</p>
        </div>
        <div class="p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <figure>
                        <img src="./assets/images/controladorGastos.PNG" alt="proyecto" class="img-fluid">
                        <figcaption class="text-center">HTML - CSS - TypeScript</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                    <p class="subtitle">Controlador de gastos</p>
                    <p>Aplicacion para gestionar gastos, estos pueden ser agregados o eliminados, y calcula
                        automaticamente balance final. Los datos se guardan mediante LocalStorage</p>
                    <a class="redirect" href="https://jgarcia285.github.io/controladorGastos/" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver app
                    </a>
                    <a class="redirect" href="https://github.com/jgarcia285/controladorGastos" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo
                    </a>
                </div>
            </div>
            <hr>
        </div>




        <div class="p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <figure>
                        <img src="assets/images/appPeliculas.PNG" alt="proyecto" class="img-fluid">
                        <figcaption class="text-center">HTML - CSS - JavaScript</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                    <p class="subtitle">Reseña de peliculas</p>
                    <p>Aplicacion para añadir reseñas de peliculas. Se ingresa el titulo, reseña y valoracion final. Los
                        datos se guardan mediante LocalStorage</p>
                    <a class="redirect" href="https://jgarcia285.github.io/appPeliculas/" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver app
                    </a>
                    <a class="redirect" href="https://github.com/jgarcia285/appPeliculas" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo
                    </a>
                </div>
            </div>
            <hr>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <figure>
                    <img src="assets/images/todolist.PNG" alt="proyecto" class="img-fluid">
                    <figcaption class="text-center">NodeJs</figcaption>
                </figure>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                <p class="subtitle">Lista de tareas</p>
                <p>Aplicación de consola interactiva, consta de una lista de tareas pendientes
                    donde se pueden agregar, eliminar o modificar tareas, y listarlas, ya sean
                    las pendientes, las completadas o todas.</p>
                <a class="redirect" href="https://github.com/jgarcia285/nodejs-todolist-console" target="_blank">
                    <fa-icon [icon]="Github"></fa-icon> Ver codigo
                </a>
            </div>
        </div>

        <hr>
        <a class="redirect text-center mt-4" href="https://github.com/jgarcia285" target="_blank">
            <fa-icon [icon]="Github"></fa-icon> Ver mas...
        </a>
    </div>
</section>