<section class="container">
    <div class="card mt-3 p-3">
        <div class="card">
            <p id="proyects" class="text-center subtitle">Mis proyectos</p>
        </div>
        <div class="p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <figure>
                        <img src="./assets/images/controladorGastos.PNG" alt="proyecto" class="img-fluid">
                        <figcaption class="text-center">HTML - CSS - TypeScript</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                    <p class="subtitle">Controlador de gastos</p>
                    <p>Aplicacion para gestionar gastos, estos pueden ser agregados o eliminados, y calcula
                        automaticamente balance final. Los datos se guardan mediante LocalStorage</p>
                    <a class="redirect" href="https://jgarcia285.github.io/controladorGastos/" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver app
                    </a>
                    <a class="redirect" href="https://github.com/jgarcia285/controladorGastos" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo
                    </a>
                </div>
            </div>
            <hr>
        </div>

        <div class="p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <figure>
                        <img src="assets/images/appPeliculas.PNG" alt="proyecto" class="img-fluid">
                        <figcaption class="text-center">HTML - CSS - JavaScript</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                    <p class="subtitle">Reseña de peliculas</p>
                    <p>Aplicacion para añadir reseñas de peliculas. Se ingresa el titulo, reseña y valoracion final. Los
                        datos se guardan mediante LocalStorage</p>
                    <a class="redirect" href="https://jgarcia285.github.io/appPeliculas/" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver app
                    </a>
                    <a class="redirect" href="https://github.com/jgarcia285/appPeliculas" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo
                    </a>
                </div>
            </div>
            <hr>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <figure>
                    <img src="assets/images/ecommerce.PNG" alt="proyecto" class="img-fluid">
                    <figcaption class="text-center">HTML - CSS - Bootstrap - JavaScript - NodeJs</figcaption>
                </figure>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 px-4">
                <p class="subtitle">E-commerce + API CRUD</p>
                <p>Tienda virtual con catalogo funcional, peticiones asíncronas y sistema de
                    login.
                </p>
                <p>
                    API CRUD con conexión a base de datos para gestionar productos,
                    usuarios y categorías de productos.</p>
                <div>
                    <a class="redirect" href="https://hnktech.netlify.app/index.html" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver app
                    </a>
                    <a class="redirect" href="https://hnktechdb.onrender.com/" target="_blank">
                        <fa-icon [icon]="Link"></fa-icon> Ver api
                    </a>
                </div>
                <div class="mt-4">
                    <a class="redirect" href="https://github.com/jgarcia285/PP2-Frontend" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo app
                    </a>
                    <a class="redirect" href="https://github.com/jgarcia285/PP2-Backend" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon> Ver codigo api
                    </a>
                </div>

            </div>
        </div>

        <hr>
        <a class="redirect text-center mt-4" href="https://github.com/jgarcia285" target="_blank">
            <fa-icon [icon]="Github"></fa-icon> Ver mas...
        </a>
    </div>
</section>