#switch{
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.moon{
    color: #fff;
}

.sun{
    color: orange;
}

nav {
    background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(73,73,73,1) 0%, rgba(119,119,119,1) 100%);
}

.nav-link {
    color: #fff
}