<nav class="navbar navbar-default">
    <div class="container d-flex justify-content-center justify-content-md-between fs-4 align-items-center" id="home">
            <a class="nav-link" href="#home">Inicio</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#about-me">Sobre Mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#proyects">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
            </li>
        </ul>

            <button (click)="changeTheme()" id="switch" class="nav">
                <span *ngIf="isDarkMode" class="moon"><fa-icon [icon]="Moon"></fa-icon></span>
                <span *ngIf="!isDarkMode" class="sun"><fa-icon [icon]="Sun"></fa-icon></span>

            </button>
       
    </div>
</nav>