<nav class="navbar navbar-default">
    <div class="container d-flex justify-content-between fs-4 align-items-center" id="home">
        <ul class="nav">
            <li class="nav-item">
                <a class="icon" href="https://www.linkedin.com/in/jgarcia285/" target="_blank"><fa-icon [icon]="Linkedin"></fa-icon></a>
                <a class="icon px-2" href="https://github.com/jgarcia285" target="_blank"><fa-icon [icon]="Github"></fa-icon></a>
            </li>
        </ul>

            <button (click)="changeTheme()" id="switch" class="nav">
                <span *ngIf="isDarkMode" class="moon"><fa-icon [icon]="Moon"></fa-icon></span>
                <span *ngIf="!isDarkMode" class="sun"><fa-icon [icon]="Sun"></fa-icon></span>

            </button>

    </div>
</nav>