#switch{
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.fa-moon{
    color: #fff;
}

.fa-sun{
    color: orange;
}

nav {
    background: radial-gradient(circle, rgba(145,145,145,1) 0%, rgba(51,51,51,1) 100%);
}

.nav-link {
    color: #fff
}