<section class="container">
    <div class="card mt-3 p-3">
        <div class="card mb-2">
            <p id="contact" class="text-center subtitle">Contacto</p>
        </div>
        <div class="d-flex justify-content-center text-center">
            <figure>
                <a class="cv" href="https://drive.google.com/file/d/15UGmWl8Z-OuBOkGOF3Fy4r-cWhNVmmXn/view?usp=sharing"
                    target="_blank">
                    <img src="./assets/images/cv.PNG" alt="cv" class="img-fluid">
                    <figcaption>↑ Descargar CV ↑</figcaption>
                </a>
            </figure>
        </div>
        <a class="redirect text-center mt-4" href="https://www.linkedin.com/in/jgarcia285/" target="_blank">
            <fa-icon [icon]="Linkedin"></fa-icon> LinkedIn
        </a>
    </div>
</section>