<section class="container">
    <div class="card mt-3 p-3">
        <div class="card mb-2">
            <p id="contact" class="text-center subtitle">Contacto</p>
        </div>
        <div class="d-flex justify-content-center text-center">
            <a class="cv" href="https://drive.google.com/file/d/1U387LsTcLeNQfHhZ5ySw5qZadpe1Z9eD/view?usp=sharing" target="_blank">
                <figure>
                    <img src="./assets/images/cv.PNG" alt="cv" class="img-fluid" >
                    <figcaption>↑ Descargar CV ↑</figcaption>
                </figure>
            </a>
        </div>
        <a class="redirect text-center mt-4" href="https://www.linkedin.com/in/jgarcia285/" target="_blank">
            <fa-icon [icon]="Linkedin"></fa-icon> LinkedIn
        </a>
    </div>
</section>