.dark-theme {
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body[class=""] {
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(73,73,73,1) 0%, rgba(119,119,119,1) 100%);
    color: #fff;
}

footer {
    background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(73,73,73,1) 0%, rgba(119,119,119,1) 100%);
    color: #fff;
}

p {
    font-size: 22px;
}

li {
    font-size: 22px;
}

.subtitle {
    font-size: 36px;
}

a {
    font-size: 22px;
}

.icon {
    color: #fff;
}