<section class="container">
    <div class="card mt-3 p-3">
        <h1 class="text-center">Hola, soy <span class="name">Jesus Garcia</span></h1>
        <h2 class="text-center">Desarrollador frontend</h2>
        <div>
            <h2 class="text-center">
                <a class="icon" href="https://www.linkedin.com/in/jgarcia285/" target="_blank"><fa-icon [icon]="Linkedin"></fa-icon></a>
                <a class="icon px-2" href="https://github.com/jgarcia285" target="_blank"><fa-icon [icon]="Github"></fa-icon></a>
            </h2>
        </div>
    </div>
</section>